/* Use the "Short Stack" font */
body {
  font-family: "Short Stack", cursive;
}
/* My own CSS adaptions */
li button {
  margin-left: 10px;
}
td {
    padding: 10px;
}

navigation {
  background: #00000010;
  display: grid;
  grid-template-columns: 1fr max-content;
  border-bottom: 2px solid black;
}
navigation ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
navigation ul li:not(:first-child) {
  margin-left: 36px;
}
navigation ul li {
  list-style-type: none !important;
}
navigation ul li {
  float: left;
  list-style: none;
}
navigation ul li a {
  display: inline-block;
  outline: none;
  text-decoration: none;
}
navigation ul li a b {
  font-weight: bolder;
  font-style: italic;
}

/* modal dialog */
.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
  .modal-bg {
    position: absolute;
    background: #00000070;
    width: 100%;
    height: 100%;
  }
  .modal-container {
    border-radius: 10px;
    background: #fff;
    position: relative;
    padding: 30px;
  }
  .modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    outline: none;
    appearance: none;
    color: red;
    background: none;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
  }
.modal p span {
  font-style: italic;
}
.modal p.right {
  text-align: right;
}